<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding >
        <binding maxReceivedMessageSize="214748364700" maxBufferSize="2147483647" name="AmadeusWebServicesBinding" />

      </basicHttpBinding>
      <customBinding>
        <binding name="AmadeusWebServices_AmadeusWebServicesPort">
          <textMessageEncoding  messageVersion="Soap11WSAddressing10" />
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
  maxReceivedMessageSize="655360" allowCookies="false" authenticationScheme="Anonymous"
  bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
  keepAliveEnabled="true" maxBufferSize="655360" proxyAuthenticationScheme="Anonymous"
  realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
  useDefaultWebProxy="true" />
        </binding>

      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://nodeA1.test.webservices.1a.amadeus.com/1ASIWPYLUL"
          binding="customBinding" bindingConfiguration="AmadeusWebServices_AmadeusWebServicesPort"
          contract="AmadeusWebServices.AmadeusWebServicesPT" name="AmadeusWebServicesPort" />
    </client>
  </system.serviceModel>
  <system.web>

    <httpRuntime maxRequestLength="2147483647" />
  </system.web>
</configuration>