<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>


  <connectionStrings>
    <add name="PayLaterEntities" connectionString="metadata=res://*/Paylater.csdl|res://*/Paylater.ssdl|res://*/Paylater.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ULCAKSQLTST1V;initial catalog=PayLater;user id=PayLater;password=Ave#Dk8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Error">
    <listeners>
      <add name="Error" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/Error.log" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Month" />
      <add name="Info" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs/Info.log" footer="----------------------------------------" formatter="Text Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Month" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)}{tab}&#xA;{message}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Error" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="Info" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />    
    
    <!--Amadues configuration settings-->
    <add key="userId" value="WSULPYL"/>
    <add key="password" value="SGTsWGp4"/>
    <add key="dutyCode" value="GS"/>
    <add key="wsap" value="1ASIWPYLUL"/>
    <add key="portName" value="AmadeusWebServicesPort"/>
    <add key="queueId" value="6"/>
    <add key="queueOfficeId" value="CMBUL08P1"/>  
   
    <!--email sending configurations for errors-->
    <add key="smtpServer" value="outlook.srilankan.corp" />
    <add key="fromAddress" value="PaylaterV2@srilankan.com" />
    <add key="toAddresses" value="charitha.waravita@srilankan.com, madura.shantha@srilankan.com, shashi.madanayaka@srilankan.com" />

    <add key="DefaultOfficeId" value="LONUL08P1"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding >
        <binding maxReceivedMessageSize="214748364700" maxBufferSize="2147483647" name="AmadeusWebServicesBinding" />

      </basicHttpBinding>
      <customBinding>
        <binding name="AmadeusWebServices_AmadeusWebServicesPort">
          <textMessageEncoding  messageVersion="Soap11WSAddressing10" />
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
  maxReceivedMessageSize="655360" allowCookies="false" authenticationScheme="Anonymous"
  bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
  keepAliveEnabled="true" maxBufferSize="655360" proxyAuthenticationScheme="Anonymous"
  realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
  useDefaultWebProxy="true" />
        </binding>

      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://nodeA1.test.webservices.1a.amadeus.com/1ASIWPYLUL"
          binding="customBinding" bindingConfiguration="AmadeusWebServices_AmadeusWebServicesPort"
          contract="AmadeusWebServices.AmadeusWebServicesPT" name="AmadeusWebServicesPort" />
    </client>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>